*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: Arial ;
    font-size: 13px;
}
header{
    width:100%;
    height:70px;
    background-color: blue;
}
.container{
    line-height: 70px;
    width: 80%;
    margin:0 auto;
    font-size: 13px;
}
.logo{
    float: left;
    display: inline-block;
}
.discord{
    vertical-align: middle;
}
nav{
    display: inline-block;
    margin: 0 auto;
    width: 80%;
    text-align: center;
}
nav li{
    list-style:none;
    margin:0 10px;
    display: inline-block;
}
.accedi{ 
    display: inline-block;
}
a.btn{
    color: black;
    background-color: white;
    border-radius:15px;
    padding: 5px 10px;
}
nav a{
     color: honeydew;
}
a{
    text-decoration: none;
}
.btn:hover{
    background-color: cadetblue;
}
.containimg{
    background-image: url(./img/jumbo.png);
    background-size: cover;
    height: 400px;
    position: relative;
}
.place{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.button1, .button2{
    margin-top: 20px;
    display: inline-block;
    border-radius: 30px;
    padding: 10px 15px;
}
.button1{
    margin-right: 20px;
    background-color: whitesmoke;
}
.button2{
    background-color: black;
    color: blanchedalmond;
}
.button1:hover{
    background-color:rgb(108, 108, 110, 0.3);

}
.button2:hover{
    background-color:rgba(100, 100, 168, 0.3); 

}
.boxsx{
    width: 50%;
}
.boxsx img{
    width: 100%;
    position:center;
}
.recipiente{
    width: 80%;
    margin: 200px auto;
    margin-top: 70px;
    margin bottom: 100px;
}
.recipiente div{
    display: inline-block;
}
.boxdx{
    width: 20%;
    margin-left: 150px;
    margin-top: 35px;
}
.boxsxdiv{
    width: 20%;  
    margin-right: 150px;
    margin-top: 35px;
}
.boxdxdiv{
    width: 50%;  
}
.boxdxdiv img{
    width: 100%;
    position: center;
}
ul a:hover{
    background-color: skyblue;
    color: black;
    border-radius: 15px;
    padding:5px 7px;
}
.affidabilità{
    text-align: center;
    margin-bottom: 30px;
}
.boox{
    width: 80%;
    margin: 0 auto;
}
.booximg img{
    width: 100%;
}
.avventura{
    text-align: center;
    font-size: 12px; 
    position: relative;  
    margin-top: 50px;
}
.avventura img{ 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.buttong{
    position:relative;
    margin-top: 30px;
    margin-bottom: 50px;

}
.buttonbottom{
    position: relative;
    display: inline-block;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(97, 176, 240);
    margin-top: 20px;
    border-radius: 30px;
    padding: 10px 15px;
}
.buttonbottom:hover{
    background-color: lightslategray;
}
.grandeblocco{
    height: 600px;
    background-color: rgb(26, 25, 25);
}
.bloccolarghezza{
    width: 80%;
    margin:0 auto;
}
.bloccolarghezza span{
    display: inline-block;
    width
}

.principal{
    width: 27%;
    float: left;
    top: 50px;
    left: 0px;
    transform: translate(10px, 50px);
}
.principal::after{
    clear: both;
    display: table;
    content: "";
}
.secondary{
    width: 17%; 
    float: left;
    top: 50px;
    left: 0px; 
}
.secondary:after{
    clear: both;
    content: "";
    display: table;
}
.title{
    margin-bottom: 30px;
    font-size: 30px;
    color: violet;
}
.principal img{
    width: 25px;
    vertical-align: middle;
}
.principal div{
    line-height: 30px;
}
.principal span{
    color: white;
    vertical-align: middle;
}
.icons{
    width: 80%;
}
i {
    color: white;
}
.secondary{
    color: white;
    font-size: 15px;
    margin-top: 50px;
}
.secondary li{
    list-style: none;
    margin-top: 15px ; 
}


