*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: Arial ;
    font-size: 13px;
}
header{
    width:100%;
    height:70px;
    background-color: blue;
}
.container{
    line-height: 70px;
    width: 80%;
    margin:0 auto;
    font-size: 13px;
}
.logo{
    float: left;
    display: inline-block;
}
.discord{
    vertical-align: middle;
}
nav{
    display: inline-block;
    margin: 0 auto;
    width: 80%;
    text-align: center;
}
nav li{
    list-style:none;
    margin:0 10px;
    display: inline-block;
}
.accedi{ 
    display: inline-block;
}
a.btn{
    color: black;
    background-color: white;
    border-radius:15px;
    padding: 5px 10px;
}
nav a{
     color: honeydew;
}
a{
    text-decoration: none;
}
.btn:hover{
    background-color: cadetblue;
}
.containimg{
    background-image: url(./img/jumbo.png);
    background-size: cover;
    height: 400px;
    position: relative;
}
.place{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.button1, .button2{
    margin-top: 20px;
    display: inline-block;
    border-radius: 30px;
    padding: 10px 15px;
}
.button1{
    margin-right: 20px;
    background-color: whitesmoke;
}
.button2{
    background-color: black;
    color: blanchedalmond;
}
.button1:hover{
    background-color:rgb(108, 108, 110, 0.3);

}
.button2:hover{
    background-color:rgba(100, 100, 168, 0.3); 

}
.boxsx{
    width: 50%;
}
.boxsx img{
    width: 100%;
    position:center;
}
.recipiente{
    width: 80%;
    margin: 200px auto;
    margin-top: 70px;
    margin bottom: 100px;
}
.recipiente div{
    display: inline-block;
}
.boxdx{
    width: 20%;
    margin-left: 150px;
    margin-top: 35px;
}
.boxsxdiv{
    width: 20%;  
    margin-right: 150px;
    margin-top: 35px;
}
.boxdxdiv{
    width: 50%;  
}
.boxdxdiv img{
     width: 100%;
     position: center;
}
ul a:hover{
    background-color: skyblue;
    color: black;
}